# Generated by php artisan swagger:generate. Edit resources/openapi/*.yaml instead.
openapi: 3.0.3
info:
  title: 'ABIT External API'
  version: 1.0.0
  description: |
    APIs for external PMS integrations, ISTAT web auth clients, the public
    accommodation catalogue, and public city-tax exemptions. Frontend-only
    authentication, administration, and manager operations are excluded.
    This specification documents the preferred /api/v1 URLs. Existing clients can
    continue using /integration/v1,
    /api/istat, /Osservatorio/RESTServices/*.ashx,
    and /rest with their original authentication and request/response formats.
    ISTAT and Integration are separate API contracts; moving between them requires
    a client adaptation, not just a URL change. No legacy removal date is set.
    The /integration/v1 aliases cover token issuance, license listing, and group POST/PUT/DELETE. New city-code, calendar, provenance, group GET/PATCH, guest, and closed-month endpoints are available only under `/api/v1`. License-scoped integration operations return 403 when the integrator lacks access. The accommodation catalogue is available at /api/v1/accommodations.
    Public city-tax exemptions are available at /api/v1/city-tax/exemptions/{cityCode}
    with English response fields and public access. The original /citytax/v1/esenzioni/{city_code} and its /html view remain available
    with their Italian response format.

    Exchange an APPLICATION user's credentials for a 24-hour opaque token at
    `POST /api/v1/token`, then send that token as `Authorization: Bearer <token>`
    to the protected PMS integration operations. The `/api/v1/istat`
    operations use web auth with a browser-style session:
    first GET / to obtain the session and XSRF-TOKEN cookies, then send the
    URL-decoded XSRF-TOKEN value as `X-XSRF-TOKEN` on the login request and all
    subsequent state-changing requests. Retain cookies updated by login.
    Send `Accept: application/json` to request JSON errors on session routes.

    API middleware limits PMS and catalogue requests to 60 per minute per
    authenticated user or IP address. HTTP 429 includes a Retry-After header.
servers:
  -
    url: 'https://abit.so.it'
    description: Production
  -
    url: /
    description: 'Current deployment (or replace with your instance origin)'
tags:
  -
    name: 'Integration APIs'
    description: 'PMS integration endpoints. Exchange HTTP Basic credentials for a Bearer token using the token endpoint.'
  -
    name: 'ISTAT APIs'
    description: 'ISTAT guest and calendar endpoints. Authenticate using the web auth login endpoint and retain session cookies and CSRF headers.'
  -
    name: 'Accommodation catalogue'
  -
    name: 'Public tax exemptions'
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: 'Opaque token'
    webAuth:
      type: apiKey
      in: cookie
      name: abit_session
      description: |
        Session cookie obtained from GET / and updated by POST /api/v1/istat/login.
        The default name for APP_NAME=ABIT is abit_session; deployments can
        override it with SESSION_COOKIE.
    xsrfToken:
      type: apiKey
      in: header
      name: X-XSRF-TOKEN
      description: 'Decoded value of the matching XSRF-TOKEN cookie.'
  parameters:
    LicenseId:
      name: licenseId
      in: path
      required: true
      description: 'ID of a license granted to the authenticated integrator.'
      schema:
        type: integer
        minimum: 1
    LeaderId:
      name: leaderId
      in: path
      required: true
      description: 'External ID of the group leader.'
      schema:
        type: string
        maxLength: 128
      example: grp-12345
    ArrivalDate:
      name: arrivalDate
      in: path
      required: true
      description: 'Valid calendar date of the stay in YYYY-MM-DD format. Invalid arrival dates return HTTP 400 before group lookup.'
      schema:
        type: string
        format: date
    GuestId:
      name: guestId
      in: path
      required: true
      schema:
        type: string
        maxLength: 128
      description: |
        External guest identifier (`guests.external_id`). A returning guest has one stay per arrival; when several stays share this id, select one with the `arrivalDate` query parameter, otherwise the request returns 409.
    StayArrivalDate:
      name: arrivalDate
      in: query
      required: false
      description: |
        Arrival date (YYYY-MM-DD) of the stay to use when the guest has several stays in the license. An invalid date returns 400; no stay with this arrival returns 404.
      schema:
        type: string
        format: date
    Year:
      name: year
      in: path
      required: true
      schema:
        type: integer
        minimum: 1900
        maximum: 9999
      example: 2026
    Month:
      name: month
      in: path
      required: true
      schema:
        type: integer
        minimum: 1
        maximum: 12
      example: 7
    DayOfMonth:
      name: day
      in: path
      required: true
      schema:
        type: integer
        minimum: 1
        maximum: 31
      example: 15
    LegacyLicenseId:
      name: license
      in: path
      required: true
      description: 'Legacy license ID.'
      schema:
        type: integer
        minimum: 1
    LegacyExternalId:
      name: external_id
      in: path
      required: true
      description: 'Guest identifier supplied by the integrating system.'
      schema:
        type: string
        maxLength: 128
    LegacyArrivalDate:
      name: arrival_date
      in: path
      required: true
      schema:
        type: string
        format: date
    LegacyCalendarDate:
      name: date
      in: path
      required: true
      schema:
        type: string
        format: date
  responses:
    InvalidCredentials:
      description: 'Credentials are invalid, inactive, or do not belong to an APPLICATION user.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthenticated:
      description: 'Bearer token is missing, invalid, expired, or revoked.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    LicenseNotAccessible:
      description: 'The requested license is not granted to this integrator.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: 'The request is invalid for the current resource state.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InvalidGroup:
      description: |
        Invalid group composition or guest data. Per-guest validation failures
        may be returned as a SendResult instead of a simple error object.
      content:
        application/json:
          schema:
            oneOf:
              -
                $ref: '#/components/schemas/Error'
              -
                $ref: '#/components/schemas/SendResult'
          examples:
            invalidGroupComposition:
              summary: 'Composizione del gruppo non valida'
              value:
                message: 'Il gruppo non può essere vuoto.'
            invalidResidenceCode:
              summary: 'Codice residenza non valido'
              value:
                total: 1
                successCount: 0
                failureCount: 1
                details:
                  -
                    index: 0
                    guestId: ospite-123
                    success: false
                    error: 'Codice residenza non valido'
    NotFound:
      description: 'The requested city, license, or guest group was not found.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: 'A duplicate or ambiguous guest group was found.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: 'API rate limit exceeded (60 requests per minute per user or IP).'
      headers:
        Retry-After:
          description: 'Seconds before retrying.'
          schema:
            type: integer
            minimum: 0
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    LegacyValidationError:
      description: 'The request failed legacy ISTAT business validation.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LegacyErrorResponse'
    SessionForbidden:
      description: 'The session user lacks the APPLICATION role or access to the license.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    CsrfTokenMismatch:
      description: 'The CSRF token is missing or does not match the session.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    TokenResponse:
      type: object
      required:
        - token
        - expiresAt
      properties:
        token:
          type: string
          description: 'Opaque token returned only at issuance.'
          minLength: 64
          maxLength: 64
        expiresAt:
          type: string
          format: date-time
          description: 'Token expiration in UTC.'
    License:
      type: object
      required:
        - id
        - name
        - cityCode
        - rooms
        - occupancyType
        - accommodation_type
        - apartments
        - alias
      additionalProperties: false
      properties:
        id:
          type: string
          description: 'License ID serialized as a string.'
          example: '42'
        name:
          type: string
          example: 'Hotel Example'
        cityCode:
          type: string
          description: 'ISTAT municipality code.'
          example: A123456
        rooms:
          type: integer
          nullable: true
          minimum: 0
          example: 12
        occupancyType:
          type: string
          nullable: true
          enum:
            - rooms
            - apartments
            - apartment_rooms
        accommodation_type:
          type: string
          nullable: true
          description: 'Human-readable accommodation type description (never a bare internal code when a description exists).'
          example: 'Albergo 1 stella'
        apartments:
          type: integer
          nullable: true
          minimum: 0
          example: 3
        alias:
          type: string
          nullable: true
          description: 'Optional integrator-facing alias for the license.'
          example: 'Hotel Example - Centro'
    CityCode:
      type: object
      required:
        - cityCode
        - name
      additionalProperties: false
      properties:
        cityCode:
          type: string
          description: 'ISTAT municipality code usable as cityCode on licenses and tax exemptions.'
          example: A123456
        name:
          type: string
          description: 'Municipality display name.'
          example: Sondrio
    GuestGroupRequest:
      type: object
      required:
        - members
      additionalProperties: false
      properties:
        members:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Guest'
    Guest:
      type: object
      required:
        - id
        - guestType
        - birth_year
        - gender
        - ps_code
        - arrivalDate
        - departureDate
      additionalProperties: false
      properties:
        id:
          type: string
          maxLength: 128
          description: 'Stable external guest identifier. Never a personal name.'
          example: guest-12345
        guestType:
          type: integer
          enum:
            - 16
            - 17
            - 18
            - 19
            - 20
          description: |
            16 single guest; 17 family leader; 18 group leader;
            19 family member; 20 group member.
        birth_year:
          type: integer
          minimum: 1900
          description: 'Birth year only (YYYY). Full birth dates are not accepted.'
          example: 1985
        gender:
          type: string
          enum:
            - M
            - F
        ps_code:
          type: string
          description: |
            Nation code (`countries.ps_code`), same field as the guest import
            file origin_country. Use GET /api/v1/countries?q= to resolve names.
          example: '100000100'
        istat_code:
          type: string
          nullable: true
          description: |
            Province code (`provinces.istat_code`) required when ps_code is
            Italia (100000100); must be omitted for foreign nations. Same field
            as import origin_province. Use GET /api/v1/provinces?q= to resolve.
          example: MI
        arrivalDate:
          type: string
          format: date
          description: |
            Must not be in the future or in a finalized month. The stay must not overlap another stay of the same guest in the license; a new stay may start on the previous departure day.
        departureDate:
          type: string
          format: date
          nullable: true
          description: |
            Must be later than arrivalDate and not in a finalized month; null while unknown. Once the license has an end date it is required and must not be later than that date.
        room_number:
          type: string
          minLength: 1
          nullable: true
          description: |
            Room occupied by this guest (`guests.room_number`). Required when
            the license occupancy type is rooms or apartment_rooms.
          example: '101'
        apartment_number:
          type: string
          minLength: 1
          nullable: true
          description: |
            Apartment occupied by this guest (`guests.apartment_number`).
            Required when the license occupancy type is apartments.
          example: A2
        is_not_tourist:
          type: boolean
          default: false
          description: 'Optional JSON boolean; false when omitted or null. Any other value is rejected.'
        reduced_tax:
          type: boolean
          default: false
          description: 'Optional reduced city-tax flag, JSON boolean; false when omitted or null. Any other value is rejected.'
        citytaxExemptionCode:
          type: string
          nullable: true
          description: |
            Optional whole-number code (digit string or JSON integer) of an exemption of the license city; null or omitted means none.
          example: '3'
    GuestStayPatchRequest:
      type: object
      additionalProperties: false
      description: |
        Send only the fields to change. Which fields are editable depends on the finalized months (CR-12 edit matrix): with the arrival month open, every property below; with the arrival month finalized and the departure unknown or in an open month, only departureDate, reduced_tax and citytaxExemptionCode; with both months finalized, none. leaderId, guestType, birth_year and gender are never editable; move a guest to another group with DELETE and PUT .../guests. The arrivalDate of a family/group component is part of the group identity and cannot change. A request with any field outside the allowed set returns 400 and changes nothing, as do removed field names (firstName, lastName, birthDate, residenceCode, taxExeptionCode, roomNumber).
      properties:
        id:
          type: string
          maxLength: 128
          description: 'Optional; must equal the path guestId.'
        ps_code:
          type: string
        istat_code:
          type: string
          nullable: true
        arrivalDate:
          type: string
          format: date
        departureDate:
          type: string
          format: date
        room_number:
          type: string
          nullable: true
        apartment_number:
          type: string
          nullable: true
        is_not_tourist:
          type: boolean
        reduced_tax:
          type: boolean
        citytaxExemptionCode:
          type: string
          nullable: true
    GuestAddRequest:
      type: object
      required:
        - id
        - guestType
        - birth_year
        - gender
        - ps_code
        - arrivalDate
        - departureDate
      additionalProperties: false
      description: 'Reduced-PII member to add to an existing group (#33).'
      properties:
        id:
          type: string
          maxLength: 128
        guestType:
          type: integer
          enum:
            - 19
            - 20
        birth_year:
          type: integer
          example: 1990
        gender:
          type: string
          enum:
            - M
            - F
        ps_code:
          type: string
        istat_code:
          type: string
          nullable: true
        arrivalDate:
          type: string
          format: date
        departureDate:
          type: string
          format: date
        room_number:
          type: string
          nullable: true
        apartment_number:
          type: string
          nullable: true
        is_not_tourist:
          type: boolean
          default: false
        reduced_tax:
          type: boolean
          default: false
        citytaxExemptionCode:
          type: string
          nullable: true
    GuestDeletedResponse:
      type: object
      required:
        - deleted
      additionalProperties: false
      properties:
        deleted:
          type: boolean
    SendResult:
      type: object
      required:
        - total
        - successCount
        - failureCount
        - details
      additionalProperties: false
      properties:
        total:
          type: integer
          minimum: 0
        successCount:
          type: integer
          minimum: 0
        failureCount:
          type: integer
          minimum: 0
        details:
          type: array
          items:
            $ref: '#/components/schemas/SendDetail'
    SendDetail:
      type: object
      required:
        - index
        - guestId
        - success
        - error
      additionalProperties: false
      properties:
        index:
          type: integer
          minimum: 0
        guestId:
          type: string
        success:
          type: boolean
        error:
          type: string
          description: 'Empty for a successful member.'
    GroupResponse:
      type: object
      required:
        - leaderId
        - arrivalDate
        - members
      additionalProperties: false
      properties:
        leaderId:
          type: string
          description: 'Leader external id.'
        arrivalDate:
          type: string
          format: date
        members:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/GuestMember'
        updated:
          type: integer
          minimum: 1
          description: 'Present on PATCH mass-departure; number of guests updated.'
    GuestMember:
      type: object
      required:
        - id
        - guestType
        - birth_year
        - gender
        - ps_code
        - arrivalDate
        - departureDate
      additionalProperties: false
      description: |
        Reduced-PII guest shape aligned with CR-12 create contract (#31).
        No first/last name; birth_year only.
      properties:
        id:
          type: string
          maxLength: 128
          example: guest-12345
        guestType:
          type: integer
          enum:
            - 16
            - 17
            - 18
            - 19
            - 20
        birth_year:
          type: integer
          nullable: true
          example: 1985
        gender:
          type: string
          nullable: true
          enum:
            - M
            - F
        ps_code:
          type: string
          nullable: true
          description: 'Nation code (countries.ps_code).'
          example: '100000100'
        istat_code:
          type: string
          nullable: true
          description: 'Province code (provinces.istat_code); Italia only.'
          example: MI
        arrivalDate:
          type: string
          format: date
          nullable: true
        departureDate:
          type: string
          format: date
          nullable: true
        room_number:
          type: string
          nullable: true
          example: '101'
        apartment_number:
          type: string
          nullable: true
          example: A2
        is_not_tourist:
          type: boolean
        reduced_tax:
          type: boolean
        citytaxExemptionCode:
          type: string
          nullable: true
          example: '3'
    GroupDepartureRequest:
      type: object
      required:
        - departureDate
      additionalProperties: false
      properties:
        departureDate:
          type: string
          format: date
          description: 'New departure date applied to every guest in the group.'
          example: '2026-09-10'
    DeleteGroupResponse:
      type: object
      required:
        - total
      additionalProperties: false
      properties:
        total:
          type: integer
          minimum: 1
          description: 'Number of deleted guest rows.'
    ClosedMonthsResponse:
      type: object
      required:
        - year
        - closedMonths
      additionalProperties: false
      description: |
        Closed (finalized) months for a license year. Totals are intentionally omitted (CR #ABIT-CR-12 / F14).
      properties:
        year:
          type: integer
          example: 2026
        closedMonths:
          type: array
          items:
            $ref: '#/components/schemas/ClosedMonth'
    ClosedMonth:
      type: object
      required:
        - month
        - closeDate
      additionalProperties: false
      properties:
        month:
          type: integer
          minimum: 1
          maximum: 12
          example: 3
        closeDate:
          type: string
          format: date
          nullable: true
          description: 'Calendar date when the month was finalized (`guests_monthly_totals.created_at`).'
          example: '2026-04-02'
    Day:
      type: object
      required:
        - day
        - closed
      additionalProperties: false
      properties:
        day:
          type: string
          format: date
        closed:
          type: integer
          enum:
            - 0
            - 1
          description: |
            Closure flag. GET /days returns only open days, so every listed
            item has closed: 0. PUT open returns closed: 0; PUT close returns
            closed: 1.
    CountryLookup:
      type: object
      required:
        - name
        - ps_code
      additionalProperties: false
      properties:
        name:
          type: string
          description: 'Country display name.'
          example: Germania
        ps_code:
          type: string
          description: |
            Alloggiati / import nation code (countries.ps_code). Same value
            stored in the guest import file origin_country field.
          example: '100000216'
    ProvinceLookup:
      type: object
      required:
        - name
        - istat_code
      additionalProperties: false
      properties:
        name:
          type: string
          description: 'Province display name.'
          example: Milano
        istat_code:
          type: string
          description: |
            Province code used by the guest import file (provinces.istat_code),
            e.g. MI. Same value stored in origin_province.
          example: MI
    Error:
      type: object
      required:
        - message
      additionalProperties: true
      properties:
        message:
          type: string
    IstatSessionLoginResponse:
      allOf:
        -
          $ref: '#/components/schemas/LegacySuccessEnvelope'
        -
          type: object
          properties:
            content:
              type: object
              required:
                - licensesIds
              properties:
                licensesIds:
                  type: array
                  items:
                    type: integer
    LegacyGuestUpsertRequest:
      type: object
      required:
        - type
        - external_id
        - arrival_date
        - sex
        - birth_year
      properties:
        type:
          type: integer
          enum:
            - 16
            - 17
            - 18
            - 19
            - 20
        external_id:
          type: string
          maxLength: 128
        external_parent_id:
          type: string
          maxLength: 128
          nullable: true
          description: 'Required for types 19 and 20; omitted for types 16, 17, and 18.'
        arrival_date:
          $ref: '#/components/schemas/LegacyFlexibleDate'
        departure_date:
          allOf:
            -
              $ref: '#/components/schemas/LegacyFlexibleDate'
          nullable: true
        sex:
          type: integer
          enum:
            - 1
            - 2
        birth_year:
          type: string
          description: 'Four-digit year or DD/MM/YYYY date.'
          pattern: '^(19[0-9]{2}|20[0-9]{2}|[0-9]{2}/[0-9]{2}/[0-9]{4})$'
        origin_country:
          type: string
          description: 'Alloggiati Web country code; required unless inherited from a group leader.'
          example: '100000100'
        origin_city:
          type: string
          nullable: true
          description: 'Alloggiati Web city code; required for Italian origin unless inherited from a group leader.'
        identity_type:
          type: string
          nullable: true
        tax_exemption:
          type: integer
          enum:
            - 0
            - 1
          nullable: true
        tax_exemption_code:
          type: integer
          nullable: true
          description: 'Required when tax_exemption is 1.'
    LegacyDepartureUpdateRequest:
      type: object
      required:
        - arrival_date
        - departure_date
      properties:
        arrival_date:
          type: string
          format: date
        departure_date:
          type: string
          format: date
    LegacyCalendarUpsertRequest:
      type: object
      required:
        - date
        - status
        - rooms_occupied
      properties:
        date:
          type: string
          format: date
        status:
          type: integer
          enum:
            - 0
            - 1
          description: '0 for open, 1 for closed.'
        rooms_occupied:
          type: integer
          minimum: 0
    LegacyFlexibleDate:
      type: string
      description: 'Date in YYYY-MM-DD or DD/MM/YYYY format.'
      pattern: '^([0-9]{4}-[0-9]{2}-[0-9]{2}|[0-9]{2}/[0-9]{2}/[0-9]{4})$'
    LegacyGuest:
      type: object
      additionalProperties: true
      properties:
        id:
          type: integer
        type_id:
          type: integer
        parent_id:
          type: integer
          nullable: true
        license_id:
          type: integer
        external_id:
          type: string
        arrival_date:
          type: string
          format: date
        departure_date:
          type: string
          format: date
          nullable: true
        room_number:
          type: string
          nullable: true
    LegacyLicense:
      type: object
      additionalProperties: true
      properties:
        id:
          type: integer
        manager_id:
          type: integer
    LegacyCalendarDay:
      type: object
      additionalProperties: true
      properties:
        id:
          type: integer
        license_id:
          type: integer
        date:
          type: string
          format: date
        closed:
          type: integer
          enum:
            - 0
            - 1
          nullable: true
        rooms_occupied:
          type: integer
          nullable: true
    LegacySuccessEnvelope:
      type: object
      required:
        - content
        - message
        - status
      properties:
        content: {  }
        message:
          type: string
        status:
          type: string
          enum:
            - OK
    LegacyGuestResponse:
      allOf:
        -
          $ref: '#/components/schemas/LegacySuccessEnvelope'
        -
          type: object
          properties:
            content:
              $ref: '#/components/schemas/LegacyGuest'
    LegacyGuestWithLicenseResponse:
      allOf:
        -
          $ref: '#/components/schemas/LegacySuccessEnvelope'
        -
          type: object
          properties:
            content:
              type: object
              required:
                - guest
                - license
              properties:
                guest:
                  $ref: '#/components/schemas/LegacyGuest'
                license:
                  $ref: '#/components/schemas/LegacyLicense'
    LegacyCalendarResponse:
      allOf:
        -
          $ref: '#/components/schemas/LegacySuccessEnvelope'
        -
          type: object
          properties:
            content:
              $ref: '#/components/schemas/LegacyCalendarDay'
    LegacyErrorResponse:
      type: object
      required:
        - content
        - message
        - status
      properties:
        content:
          nullable: true
        message:
          type: string
        status:
          type: string
          enum:
            - ERROR
    AmenityListResponse:
      type: object
      required:
        - Items
      properties:
        Items:
          type: array
          items:
            $ref: '#/components/schemas/Amenity'
    Amenity:
      type: object
      required:
        - code
        - name
      properties:
        code:
          type: string
          example: WIFI
        name:
          type: string
          example: Internet-WI-FI
    AccommodationCategoryListResponse:
      type: object
      required:
        - Items
      properties:
        Items:
          type: array
          items:
            $ref: '#/components/schemas/AccommodationCategory'
    AccommodationCategory:
      type: object
      required:
        - id
        - name
        - description
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
    AccommodationCityListResponse:
      type: object
      required:
        - Items
      properties:
        Items:
          type: array
          items:
            $ref: '#/components/schemas/AccommodationCity'
    AccommodationCity:
      type: object
      required:
        - identifier
        - name
        - area
        - district
        - province
        - region
        - country
      properties:
        identifier:
          type: integer
        name:
          type: string
        area:
          type: string
        district:
          type: string
        province:
          type: string
        region:
          type: string
        country:
          type: string
    AccommodationListResponse:
      type: object
      required:
        - pagination
        - Items
      properties:
        pagination:
          $ref: '#/components/schemas/CataloguePagination'
        Items:
          type: array
          items:
            $ref: '#/components/schemas/PublishedAccommodation'
    CataloguePagination:
      type: object
      required:
        - page
        - item-per-page
        - results
        - total-pages
        - total-results
      properties:
        page:
          type: integer
        item-per-page:
          type: integer
        results:
          type: integer
        total-pages:
          type: integer
        total-results:
          type: integer
    PublishedAccommodation:
      type: object
      additionalProperties: true
      required:
        - identifier
        - uri
        - name
        - category
        - address
        - geo
      properties:
        identifier:
          type: integer
        cir:
          type: string
        cin:
          type: string
        uri:
          type: string
        name:
          type: string
        numberOfRooms:
          type: string
        numberOfApartments:
          type: string
        category:
          $ref: '#/components/schemas/AccommodationCategory'
        photo:
          type: string
          description: 'Main photo URL, or an empty string when no photo is available.'
        url:
          type: string
          nullable: true
        bookingUrl:
          type: string
          nullable: true
        telephone:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        petsAllowed:
          type: boolean
        smokingAllowed:
          type: boolean
        address:
          type: object
          additionalProperties: true
        geo:
          type: object
          properties:
            latitude:
              type: number
              nullable: true
            longitude:
              type: number
              nullable: true
        amenityFeature:
          type: array
          items:
            $ref: '#/components/schemas/Amenity'
    PublicCityTaxExemptions:
      type: object
      required:
        - city
        - istatCode
        - psCode
        - province
        - region
        - exemptions
      properties:
        city:
          type: string
          example: Bormio
        istatCode:
          type: string
          example: '014009'
        psCode:
          type: string
          nullable: true
        province:
          type: string
          description: 'Province name followed by its ISTAT code in parentheses.'
        region:
          type: string
        exemptions:
          type: array
          items:
            $ref: '#/components/schemas/PublicCityTaxExemption'
    PublicCityTaxExemption:
      type: object
      required:
        - code
        - name
        - description
      properties:
        code:
          type: integer
          nullable: true
        name:
          type: string
        description:
          type: string
          nullable: true
security:
  -
    bearerAuth: []
paths:
  /api/v1/accommodations/accommodations:
    get:
      tags:
        - 'Accommodation catalogue'
      summary: 'List published accommodations'
      description: |
        Returns active, online accommodations with at least one open license.
      operationId: listPublishedAccommodations
      security: []
      parameters:
        -
          name: page_number
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        -
          name: items_per_page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 100
        -
          name: id
          in: query
          description: 'Filter by accommodation-info ID.'
          schema:
            type: integer
            minimum: 1
        -
          name: uri
          in: query
          description: 'Accepted for compatibility but currently ignored; use id to filter.'
          deprecated: true
          schema:
            type: string
        -
          name: city_id
          in: query
          schema:
            type: integer
            minimum: 1
        -
          name: category_id
          in: query
          schema:
            type: integer
            minimum: 1
        -
          name: amenity_code
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 'Paginated accommodations catalogue.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccommodationListResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/v1/accommodations/amenities:
    get:
      tags:
        - 'Accommodation catalogue'
      summary: 'List accommodation amenities'
      operationId: listAccommodationAmenities
      security: []
      responses:
        '200':
          description: 'Public amenities catalogue.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmenityListResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/v1/accommodations/categories:
    get:
      tags:
        - 'Accommodation catalogue'
      summary: 'List accommodation categories'
      operationId: listAccommodationCategories
      security: []
      responses:
        '200':
          description: 'Public accommodation categories.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccommodationCategoryListResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/v1/accommodations/cities:
    get:
      tags:
        - 'Accommodation catalogue'
      summary: 'List accommodation cities'
      operationId: listAccommodationCities
      security: []
      responses:
        '200':
          description: 'Public cities catalogue.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccommodationCityListResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/v1/city-codes:
    get:
      tags:
        - 'Integration APIs'
      summary: 'List available cityCode values'
      description: |
        Returns the ISTAT municipality codes available in this deployment
        (default province), for use as `cityCode` on licenses and public tax
        exemptions. Requires the same Bearer token as other integrator routes.
      operationId: listIntegrationCityCodes
      responses:
        '200':
          description: 'Available cityCode values as a bare JSON array.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CityCode'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  '/api/v1/city-tax/exemptions/{cityCode}':
    get:
      tags:
        - 'Public tax exemptions'
      summary: 'List public city-tax exemptions'
      description: 'Public endpoint returning municipality metadata and exemption codes with English field names. It does not require an integration token.'
      operationId: listPublicCityTaxExemptions
      security: []
      parameters:
        -
          name: cityCode
          in: path
          required: true
          description: 'ISTAT municipality code, preserving leading zeroes.'
          schema:
            type: string
          example: '014009'
      responses:
        '200':
          description: 'Municipality and exemptions ordered by code.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCityTaxExemptions'
        '422':
          description: 'Municipality code is missing or unknown.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyErrorResponse'
  '/api/v1/city-tax/exemptions/{cityCode}/html':
    get:
      tags:
        - 'Public tax exemptions'
      summary: 'View public city-tax exemptions as HTML'
      description: 'HTML representation of the public municipality exemption catalogue.'
      operationId: viewPublicCityTaxExemptionsHtml
      security: []
      parameters:
        -
          name: cityCode
          in: path
          required: true
          description: 'ISTAT municipality code, preserving leading zeroes.'
          schema:
            type: string
          example: '014009'
      responses:
        '200':
          description: 'HTML page containing municipality details and exemptions.'
          content:
            text/html:
              schema:
                type: string
        '422':
          description: 'Municipality code is missing or unknown.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyErrorResponse'
  /api/v1/countries:
    get:
      tags:
        - 'Integration APIs'
      summary: 'Look up countries by name or ps_code'
      description: |
        Authenticated reference lookup. Matches country `name` (partial) or
        `ps_code` (exact / prefix) — the same code field the guest import file
        uses for origin_country. Returns a bare JSON array; empty when no match.
        No tenant-scoped data.
      operationId: listIntegrationCountries
      parameters:
        -
          name: q
          in: query
          required: false
          description: 'Optional search string (country name or ps_code). Omit or leave blank to return the full list.'
          schema:
            type: string
            example: Germania
      responses:
        '200':
          description: 'Matching countries.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CountryLookup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  '/api/v1/istat/calendar/{license}':
    post:
      tags:
        - 'ISTAT APIs'
      summary: 'Create or update a calendar day'
      operationId: upsertIstatSessionCalendarDay
      security:
        -
          webAuth: []
          xsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LegacyCalendarUpsertRequest'
      responses:
        '200':
          description: 'Calendar day created or updated.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyCalendarResponse'
        '403':
          $ref: '#/components/responses/SessionForbidden'
        '419':
          $ref: '#/components/responses/CsrfTokenMismatch'
        '422':
          $ref: '#/components/responses/LegacyValidationError'
      parameters:
        -
          $ref: '#/components/parameters/LegacyLicenseId'
  '/api/v1/istat/calendar/{license}/{date}':
    get:
      tags:
        - 'ISTAT APIs'
      summary: 'Get a calendar day'
      operationId: getIstatSessionCalendarDay
      security:
        -
          webAuth: []
      responses:
        '200':
          description: 'Calendar day found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyCalendarResponse'
        '403':
          $ref: '#/components/responses/SessionForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/LegacyValidationError'
      parameters:
        -
          $ref: '#/components/parameters/LegacyLicenseId'
        -
          $ref: '#/components/parameters/LegacyCalendarDate'
    delete:
      tags:
        - 'ISTAT APIs'
      summary: 'Delete a calendar day'
      operationId: deleteIstatSessionCalendarDay
      security:
        -
          webAuth: []
          xsrfToken: []
      responses:
        '200':
          description: 'Calendar day deleted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyCalendarResponse'
        '403':
          $ref: '#/components/responses/SessionForbidden'
        '419':
          $ref: '#/components/responses/CsrfTokenMismatch'
        '422':
          $ref: '#/components/responses/LegacyValidationError'
      parameters:
        -
          $ref: '#/components/parameters/LegacyLicenseId'
        -
          $ref: '#/components/parameters/LegacyCalendarDate'
  '/api/v1/istat/guest/{license}':
    post:
      tags:
        - 'ISTAT APIs'
      summary: 'Create or update a guest'
      operationId: upsertIstatSessionGuest
      security:
        -
          webAuth: []
          xsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LegacyGuestUpsertRequest'
      responses:
        '200':
          description: 'Guest created or updated.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyGuestWithLicenseResponse'
        '403':
          $ref: '#/components/responses/SessionForbidden'
        '419':
          $ref: '#/components/responses/CsrfTokenMismatch'
        '422':
          $ref: '#/components/responses/LegacyValidationError'
      parameters:
        -
          $ref: '#/components/parameters/LegacyLicenseId'
  '/api/v1/istat/guest/{license}/{external_id}':
    post:
      tags:
        - 'ISTAT APIs'
      summary: 'Create or update a group member'
      description: |
        The path external_id identifies the group leader (parent_external_id
        in the Laravel route); the body external_id identifies the member.
        Only guest types 19 and 20 are accepted. Supply external_parent_id in
        the body as well, using the same leader ID and arrival date.
      operationId: upsertIstatSessionGroupMember
      security:
        -
          webAuth: []
          xsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LegacyGuestUpsertRequest'
      responses:
        '200':
          description: 'Group member created or updated.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyGuestResponse'
        '403':
          $ref: '#/components/responses/SessionForbidden'
        '419':
          $ref: '#/components/responses/CsrfTokenMismatch'
        '422':
          $ref: '#/components/responses/LegacyValidationError'
      parameters:
        -
          $ref: '#/components/parameters/LegacyLicenseId'
        -
          $ref: '#/components/parameters/LegacyExternalId'
    put:
      tags:
        - 'ISTAT APIs'
      summary: "Update a guest's departure date"
      description: 'The path external_id identifies the guest to update.'
      operationId: updateIstatSessionGuestDeparture
      security:
        -
          webAuth: []
          xsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LegacyDepartureUpdateRequest'
      responses:
        '200':
          description: 'Departure date updated.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyGuestResponse'
        '403':
          $ref: '#/components/responses/SessionForbidden'
        '419':
          $ref: '#/components/responses/CsrfTokenMismatch'
        '422':
          $ref: '#/components/responses/LegacyValidationError'
      parameters:
        -
          $ref: '#/components/parameters/LegacyLicenseId'
        -
          $ref: '#/components/parameters/LegacyExternalId'
  '/api/v1/istat/guest/{license}/{external_id}/{arrival_date}':
    get:
      tags:
        - 'ISTAT APIs'
      summary: 'Get a guest'
      operationId: getIstatSessionGuest
      security:
        -
          webAuth: []
      responses:
        '200':
          description: 'Guest found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyGuestResponse'
        '403':
          $ref: '#/components/responses/SessionForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/LegacyValidationError'
      parameters:
        -
          $ref: '#/components/parameters/LegacyLicenseId'
        -
          $ref: '#/components/parameters/LegacyExternalId'
        -
          $ref: '#/components/parameters/LegacyArrivalDate'
    delete:
      tags:
        - 'ISTAT APIs'
      summary: 'Delete a guest'
      operationId: deleteIstatSessionGuest
      security:
        -
          webAuth: []
          xsrfToken: []
      responses:
        '200':
          description: 'Guest deleted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyGuestResponse'
        '403':
          $ref: '#/components/responses/SessionForbidden'
        '419':
          $ref: '#/components/responses/CsrfTokenMismatch'
        '422':
          $ref: '#/components/responses/LegacyValidationError'
      parameters:
        -
          $ref: '#/components/parameters/LegacyLicenseId'
        -
          $ref: '#/components/parameters/LegacyExternalId'
        -
          $ref: '#/components/parameters/LegacyArrivalDate'
  /api/v1/istat/login:
    post:
      tags:
        - 'ISTAT APIs'
      summary: 'Log in using ISTAT web auth'
      description: |
        Creates the session used by the remaining ISTAT operations and returns
        the IDs of the licenses available to the authenticated user.
      operationId: loginIstatSession
      security:
        -
          webAuth: []
          xsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - password
              properties:
                username:
                  type: string
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: 'Login completed and session cookie issued.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IstatSessionLoginResponse'
        '403':
          description: 'Invalid credentials.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyErrorResponse'
        '419':
          $ref: '#/components/responses/CsrfTokenMismatch'
  /api/v1/licenses:
    get:
      tags:
        - 'Integration APIs'
      summary: 'List accessible licenses'
      description: 'Returns the licenses explicitly granted to the authenticated integrator.'
      operationId: listIntegrationLicenses
      responses:
        '200':
          description: 'Accessible licenses. An empty array means no licenses are granted.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/License'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  '/api/v1/licenses/{licenseId}/calendar/{year}/{month}/days':
    get:
      tags:
        - 'Integration APIs'
      summary: 'List open days in a month'
      description: |
        Returns only open calendar days in the requested month. Every item has
        `closed: 0`. Days with guests are included; closed and invalid days are omitted. There is no
        `status` field.
      operationId: listIntegrationClosureDays
      parameters:
        -
          $ref: '#/components/parameters/LicenseId'
        -
          $ref: '#/components/parameters/Year'
        -
          $ref: '#/components/parameters/Month'
      responses:
        '200':
          description: 'Open days in the month (each with closed: 0).'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Day'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/LicenseNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  '/api/v1/licenses/{licenseId}/calendar/{year}/{month}/{day}/close':
    put:
      tags:
        - 'Integration APIs'
      summary: 'Close a calendar day'
      description: |
        Idempotently closes the day (sets closed=1). Does not toggle. Fails with
        400 when guests are present on an open day, or when the day is in a
        finalized month / outside the license range.
      operationId: closeIntegrationClosureDay
      parameters:
        -
          $ref: '#/components/parameters/LicenseId'
        -
          $ref: '#/components/parameters/Year'
        -
          $ref: '#/components/parameters/Month'
        -
          $ref: '#/components/parameters/DayOfMonth'
      responses:
        '200':
          description: 'Day is closed (closed: 1).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Day'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/LicenseNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  '/api/v1/licenses/{licenseId}/calendar/{year}/{month}/{day}/open':
    put:
      tags:
        - 'Integration APIs'
      summary: 'Open a calendar day'
      description: |
        Idempotently opens the day (sets closed=0, preserving occupancy data). Does not
        toggle. Days in a finalized month or outside the license range return 400.
      operationId: openIntegrationClosureDay
      parameters:
        -
          $ref: '#/components/parameters/LicenseId'
        -
          $ref: '#/components/parameters/Year'
        -
          $ref: '#/components/parameters/Month'
        -
          $ref: '#/components/parameters/DayOfMonth'
      responses:
        '200':
          description: 'Day is open (closed: 0).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Day'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/LicenseNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  '/api/v1/licenses/{licenseId}/closed-months/{year}':
    get:
      tags:
        - 'Integration APIs'
      summary: 'List closed months for a year'
      description: |
        Returns the finalized (closed) months for the given license and year,
        each with its close date. Totals and aggregates are not included.
        Read-only — does not open or close months.
      operationId: listIntegrationClosedMonths
      parameters:
        -
          $ref: '#/components/parameters/LicenseId'
        -
          $ref: '#/components/parameters/Year'
      responses:
        '200':
          description: 'Closed months for the year (may be an empty list).'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedMonthsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/LicenseNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  '/api/v1/licenses/{licenseId}/groups':
    post:
      tags:
        - 'Integration APIs'
      summary: 'Create a guest group'
      description: |
        Creates a new stay. A group is identified by its leader's external ID and
        arrival date within the license. A malformed or impossible leader arrival
        date returns HTTP 400 before the duplicate-group check.

        Valid compositions are: type 16 alone; type 17 with one or more type 19
        members; or type 18 with one or more type 20 members. A composite group
        can return HTTP 200 with mixed per-member results when at least one member
        is valid. Duplicate guest IDs within a group are rejected; IDs are
        compared case-insensitively. Every member must have the leader's
        arrivalDate.

        Removed/renamed member fields (`firstName`, `lastName`, `birthDate`,
        `residenceCode`, `taxExeptionCode`, `roomNumber`) are **rejected** with a
        per-guest error — they are not silently ignored. No first/last name is
        stored or returned.

        A guest also fails when its arrival or departure falls in a finalized
        month, when its stay overlaps another stay of the same guest in the
        license, or when it breaks the license end date. A new group never
        changes the guests of another group.
      operationId: createIntegrationGuestGroup
      parameters:
        -
          $ref: '#/components/parameters/LicenseId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestGroupRequest'
      responses:
        '200':
          description: 'Group processed; inspect each detail for partial member failures.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResult'
        '400':
          $ref: '#/components/responses/InvalidGroup'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/LicenseNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  '/api/v1/licenses/{licenseId}/groups/{leaderId}/{arrivalDate}':
    get:
      tags:
        - 'Integration APIs'
      summary: 'Get a guest group'
      description: |
        Returns the group identified by leaderId + arrivalDate (same identity as
        PUT/DELETE). Members use the reduced-PII contract (no first/last name;
        birth_year only; ps_code / istat_code provenance).
      operationId: getIntegrationGuestGroup
      parameters:
        -
          $ref: '#/components/parameters/LicenseId'
        -
          $ref: '#/components/parameters/LeaderId'
        -
          $ref: '#/components/parameters/ArrivalDate'
      responses:
        '200':
          description: 'Group found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/LicenseNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    patch:
      tags:
        - 'Integration APIs'
      summary: 'Set departure date for an entire group'
      description: |
        Sets `departureDate` on **every** guest in the group (leader + members)
        inside a single DB transaction. departureDate must be a valid calendar date.
        Both existing non-null departures and the new departure must be in an open month.
        If any guest fails closed-month or
        date validation, or the new departure makes its stay overlap another
        stay of the same guest, the whole update is rejected (400) with
        per-guest details — no silent partial success.
      operationId: patchIntegrationGuestGroupDeparture
      parameters:
        -
          $ref: '#/components/parameters/LicenseId'
        -
          $ref: '#/components/parameters/LeaderId'
        -
          $ref: '#/components/parameters/ArrivalDate'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupDepartureRequest'
      responses:
        '200':
          description: 'Departure updated for all guests; returns the group.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/LicenseNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags:
        - 'Integration APIs'
      summary: 'Replace a guest group'
      description: |
        Atomically **replaces the entire group** identified by leaderId +
        arrivalDate: the previous leader and all members are deleted, then the
        request body is inserted as the new group. The leader's `id` and
        `arrivalDate` in the body must match the path. If any guest is invalid,
        the original group remains unchanged. A group with any guest arriving
        in a finalized month cannot be replaced (400). Guests follow the same rules as in
        group creation; the group's own previous stays never count as overlaps.
      operationId: replaceIntegrationGuestGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestGroupRequest'
      responses:
        '200':
          description: 'Group replaced.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResult'
        '400':
          $ref: '#/components/responses/InvalidGroup'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/LicenseNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      parameters:
        -
          $ref: '#/components/parameters/LicenseId'
        -
          $ref: '#/components/parameters/LeaderId'
        -
          $ref: '#/components/parameters/ArrivalDate'
    delete:
      tags:
        - 'Integration APIs'
      summary: 'Delete a guest group'
      description: |
        Deletes the **entire group** identified by leaderId + arrivalDate (leader
        and all members). Returns 404 with message "Group not found." when no
        matching leader exists, and 400 when any guest of the group arrived in
        a finalized month.
      operationId: deleteIntegrationGuestGroup
      responses:
        '200':
          description: 'Group deleted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteGroupResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/LicenseNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      parameters:
        -
          $ref: '#/components/parameters/LicenseId'
        -
          $ref: '#/components/parameters/LeaderId'
        -
          $ref: '#/components/parameters/ArrivalDate'
  '/api/v1/licenses/{licenseId}/groups/{leaderId}/{arrivalDate}/guests':
    put:
      tags:
        - 'Integration APIs'
      summary: 'Add a guest to an existing group'
      description: |
        Adds one member (type 19 or 20) to the group identified by leaderId +
        arrivalDate. Path includes arrivalDate for parity with PUT/DELETE group.
        Body uses the reduced-PII contract. Fail-closed on closed months.
        Returns 409 when the guest already has a stay overlapping this one.
      operationId: addIntegrationGuestToGroup
      parameters:
        -
          $ref: '#/components/parameters/LicenseId'
        -
          $ref: '#/components/parameters/LeaderId'
        -
          $ref: '#/components/parameters/ArrivalDate'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestAddRequest'
      responses:
        '200':
          description: 'Guest added; returns the new member.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/LicenseNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  '/api/v1/licenses/{licenseId}/guests/{guestId}':
    get:
      tags:
        - 'Integration APIs'
      summary: 'Get a single guest stay'
      description: |
        Returns one stay by external guestId; for a returning guest, select the
        stay with the arrivalDate query parameter.
        Reduced-PII contract: no first/last name; birth_year only.
      operationId: getIntegrationGuestStay
      parameters:
        -
          $ref: '#/components/parameters/LicenseId'
        -
          $ref: '#/components/parameters/GuestId'
        -
          $ref: '#/components/parameters/StayArrivalDate'
      responses:
        '200':
          description: 'Stay found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestMember'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/LicenseNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    patch:
      tags:
        - 'Integration APIs'
      summary: 'Update a guest stay'
      description: |
        Partial update following the CR-12 edit matrix described on the request
        body: the editable fields depend on whether the arrival and departure
        months are finalized, and leaderId, guestType, birth_year and gender
        never change. New dates must be valid, outside finalized months and
        within the license validity. Returns 409 when the changed dates overlap
        another stay of the same guest, or when the guestId is ambiguous.
      operationId: patchIntegrationGuestStay
      parameters:
        -
          $ref: '#/components/parameters/LicenseId'
        -
          $ref: '#/components/parameters/GuestId'
        -
          $ref: '#/components/parameters/StayArrivalDate'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestStayPatchRequest'
      responses:
        '200':
          description: 'Stay updated.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestMember'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/LicenseNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - 'Integration APIs'
      summary: 'Delete a guest stay'
      description: |
        Deletes one stay when its arrival month is open. Leaders that still have
        members must be removed via whole-group DELETE. A family/group leader must retain at least one member.
      operationId: deleteIntegrationGuestStay
      parameters:
        -
          $ref: '#/components/parameters/LicenseId'
        -
          $ref: '#/components/parameters/GuestId'
        -
          $ref: '#/components/parameters/StayArrivalDate'
      responses:
        '200':
          description: 'Stay deleted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestDeletedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/LicenseNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/v1/provinces:
    get:
      tags:
        - 'Integration APIs'
      summary: 'Look up provinces by name or istat_code'
      description: |
        Authenticated reference lookup. Matches province `name` (partial) or
        `istat_code` (exact / prefix) — the same code field the guest import file
        uses for origin_province. Returns a bare JSON array; empty when no match.
        No tenant-scoped data.
      operationId: listIntegrationProvinces
      parameters:
        -
          name: q
          in: query
          required: false
          description: 'Optional search string (province name or istat_code). Omit or leave blank to return the full list.'
          schema:
            type: string
            example: Milano
      responses:
        '200':
          description: 'Matching provinces.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProvinceLookup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/v1/token:
    post:
      tags:
        - 'Integration APIs'
      summary: 'Issue an integration token'
      description: |
        Exchanges HTTP Basic credentials belonging to an active APPLICATION
        user for an opaque bearer token valid for 24 hours.
      operationId: issueIntegrationToken
      security:
        -
          basicAuth: []
      responses:
        '200':
          description: 'Token issued.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/InvalidCredentials'
        '429':
          $ref: '#/components/responses/TooManyRequests'
