# Generated by php artisan swagger:generate. Edit resources/openapi/*.yaml instead.
openapi: 3.0.3
info:
  title: 'ABIT External API'
  version: 1.0.0
  description: |
    APIs for external PMS integrations, ISTAT session clients, the public
    accommodation catalogue, and public city-tax exemptions. Frontend-only
    authentication, administration, and manager operations are excluded.
    The accommodation catalogue is available at /api/v1/accommodations.
    Public city-tax exemptions are available at /api/v1/citytax/esenzioni
    with their existing response formats and public access.

    Exchange an APPLICATION user's credentials for a 24-hour opaque token at
    `POST /api/v1/token`, then send that token as `Authorization: Bearer <token>`
    to the protected PMS integration operations. The `/api/v1/istat`
    operations use a browser-style session:
    first GET / to obtain the session and XSRF-TOKEN cookies, then send the
    URL-decoded XSRF-TOKEN value as `X-XSRF-TOKEN` on the login request and all
    subsequent state-changing requests. Retain cookies updated by login.
    Send `Accept: application/json` to request JSON errors on session routes.

    API middleware limits PMS and catalogue requests to 60 per minute per
    authenticated user or IP address. HTTP 429 includes a Retry-After header.
servers:
  -
    url: 'https://abit.so.it'
    description: Production
tags:
  -
    name: Authentication
  -
    name: Licenses
  -
    name: 'Tax exemptions'
  -
    name: 'Guest groups'
  -
    name: 'Closure days'
  -
    name: 'ISTAT session authentication'
  -
    name: 'ISTAT session guests'
  -
    name: 'ISTAT session calendar'
  -
    name: 'Accommodation catalogue'
  -
    name: 'Public tax exemptions'
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: 'Opaque token'
    sessionCookie:
      type: apiKey
      in: cookie
      name: abit_session
      description: |
        Session cookie obtained from GET / and updated by POST /api/v1/istat/login.
        The default name for APP_NAME=ABIT is abit_session; deployments can
        override it with SESSION_COOKIE.
    xsrfToken:
      type: apiKey
      in: header
      name: X-XSRF-TOKEN
      description: 'Decoded value of the matching XSRF-TOKEN cookie.'
  parameters:
    LicenseId:
      name: licenseId
      in: path
      required: true
      description: 'ID of a license granted to the authenticated integrator.'
      schema:
        type: integer
        minimum: 1
    CityCode:
      name: cityCode
      in: path
      required: true
      description: 'ISTAT municipality code returned by the licenses endpoint.'
      schema:
        type: string
      example: A123456
    LeaderId:
      name: leaderId
      in: path
      required: true
      description: 'External ID of the group leader.'
      schema:
        type: string
        maxLength: 128
      example: grp-12345
    ArrivalDate:
      name: arrivalDate
      in: path
      required: true
      description: 'Arrival date of the stay.'
      schema:
        type: string
        format: date
    Year:
      name: year
      in: path
      required: true
      schema:
        type: integer
        minimum: 1900
        maximum: 9999
      example: 2026
    Month:
      name: month
      in: path
      required: true
      schema:
        type: integer
        minimum: 1
        maximum: 12
      example: 7
    DayOfMonth:
      name: day
      in: path
      required: true
      schema:
        type: integer
        minimum: 1
        maximum: 31
      example: 15
    LegacyLicenseId:
      name: license
      in: path
      required: true
      description: 'Legacy license ID.'
      schema:
        type: integer
        minimum: 1
    LegacyExternalId:
      name: external_id
      in: path
      required: true
      description: 'Guest identifier supplied by the integrating system.'
      schema:
        type: string
        maxLength: 128
    LegacyArrivalDate:
      name: arrival_date
      in: path
      required: true
      schema:
        type: string
        format: date
    LegacyCalendarDate:
      name: date
      in: path
      required: true
      schema:
        type: string
        format: date
  responses:
    InvalidCredentials:
      description: 'Credentials are invalid, inactive, or do not belong to an APPLICATION user.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthenticated:
      description: 'Bearer token is missing, invalid, expired, or revoked.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    LicenseNotAccessible:
      description: 'The requested license is not granted to this integrator.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: 'The request is invalid for the current resource state.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InvalidGroup:
      description: |
        Invalid group composition or guest data. Per-guest validation failures
        may be returned as a SendResult instead of a simple error object.
      content:
        application/json:
          schema:
            oneOf:
              -
                $ref: '#/components/schemas/Error'
              -
                $ref: '#/components/schemas/SendResult'
    NotFound:
      description: 'The requested city, license, or guest group was not found.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: 'A duplicate or ambiguous guest group was found.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: 'API rate limit exceeded (60 requests per minute per user or IP).'
      headers:
        Retry-After:
          description: 'Seconds before retrying.'
          schema:
            type: integer
            minimum: 0
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    LegacyValidationError:
      description: 'The request failed legacy ISTAT business validation.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LegacyErrorResponse'
    SessionForbidden:
      description: 'The session user lacks the APPLICATION role or access to the license.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    CsrfTokenMismatch:
      description: 'The CSRF token is missing or does not match the session.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    TokenResponse:
      type: object
      required:
        - token
        - expiresAt
      properties:
        token:
          type: string
          description: 'Opaque token returned only at issuance.'
          minLength: 64
          maxLength: 64
        expiresAt:
          type: string
          format: date-time
          description: 'Token expiration in UTC.'
    License:
      type: object
      required:
        - id
        - name
        - cityCode
        - rooms
        - occupancyType
      additionalProperties: false
      properties:
        id:
          type: string
          description: 'License ID serialized as a string.'
          example: '42'
        name:
          type: string
          example: 'Hotel Example'
        cityCode:
          type: string
          description: 'ISTAT municipality code.'
          example: A123456
        rooms:
          type: integer
          nullable: true
          minimum: 0
          example: 12
        occupancyType:
          type: string
          nullable: true
          enum:
            - rooms
            - apartments
            - apartment_rooms
    TaxExemption:
      type: object
      required:
        - code
        - description
      additionalProperties: false
      properties:
        code:
          type: string
          example: '3'
        description:
          type: string
          example: 'Minori fino a 14 anni'
    GuestGroupRequest:
      type: object
      required:
        - members
      additionalProperties: false
      properties:
        members:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Guest'
    Guest:
      type: object
      required:
        - id
        - guestType
        - firstName
        - lastName
        - birthDate
        - gender
        - residenceCode
        - arrivalDate
        - departureDate
        - roomNumber
      additionalProperties: false
      properties:
        id:
          type: string
          maxLength: 128
          description: 'Stable external guest identifier.'
          example: guest-12345
        guestType:
          type: integer
          enum:
            - 16
            - 17
            - 18
            - 19
            - 20
          description: |
            16 single guest; 17 family leader; 18 group leader;
            19 family member; 20 group member.
        firstName:
          type: string
          example: Mario
        lastName:
          type: string
          example: Rossi
        birthDate:
          type: string
          format: date
          example: '1985-06-15'
        gender:
          type: string
          enum:
            - M
            - F
        residenceCode:
          type: string
          description: 'Italian city PS code or foreign country PS code.'
          example: '100000100'
        arrivalDate:
          type: string
          format: date
          description: 'Must not be in the future or in a finalized period.'
        departureDate:
          type: string
          format: date
          description: 'Must be later than arrivalDate.'
        roomNumber:
          type: string
          minLength: 1
          description: 'Room occupied by this guest.'
          example: '101'
        taxExeptionCode:
          type: string
          nullable: true
          description: |
            Optional city-tax exemption code. The spelling `Exeption` is part
            of the API contract and is intentionally retained.
          example: '3'
    SendResult:
      type: object
      required:
        - total
        - successCount
        - failureCount
        - details
      additionalProperties: false
      properties:
        total:
          type: integer
          minimum: 0
        successCount:
          type: integer
          minimum: 0
        failureCount:
          type: integer
          minimum: 0
        details:
          type: array
          items:
            $ref: '#/components/schemas/SendDetail'
    SendDetail:
      type: object
      required:
        - index
        - guestId
        - success
        - error
      additionalProperties: false
      properties:
        index:
          type: integer
          minimum: 0
        guestId:
          type: string
        success:
          type: boolean
        error:
          type: string
          description: 'Empty for a successful member.'
    DeleteGroupResponse:
      type: object
      required:
        - total
      additionalProperties: false
      properties:
        total:
          type: integer
          minimum: 1
          description: 'Number of deleted guest rows.'
    Day:
      type: object
      required:
        - day
        - status
      additionalProperties: false
      properties:
        day:
          type: string
          format: date
        status:
          type: string
          enum:
            - OPEN
            - CLOSED
            - INVALID
            - BOOKED
    Error:
      type: object
      required:
        - message
      additionalProperties: true
      properties:
        message:
          type: string
    IstatSessionLoginResponse:
      allOf:
        -
          $ref: '#/components/schemas/LegacySuccessEnvelope'
        -
          type: object
          properties:
            content:
              type: object
              required:
                - licensesIds
              properties:
                licensesIds:
                  type: array
                  items:
                    type: integer
    LegacyGuestUpsertRequest:
      type: object
      required:
        - type
        - external_id
        - arrival_date
        - sex
        - birth_year
      properties:
        type:
          type: integer
          enum:
            - 16
            - 17
            - 18
            - 19
            - 20
        external_id:
          type: string
          maxLength: 128
        external_parent_id:
          type: string
          maxLength: 128
          nullable: true
          description: 'Required for types 19 and 20; omitted for types 16, 17, and 18.'
        arrival_date:
          $ref: '#/components/schemas/LegacyFlexibleDate'
        departure_date:
          allOf:
            -
              $ref: '#/components/schemas/LegacyFlexibleDate'
          nullable: true
        sex:
          type: integer
          enum:
            - 1
            - 2
        birth_year:
          type: string
          description: 'Four-digit year or DD/MM/YYYY date.'
          pattern: '^(19[0-9]{2}|20[0-9]{2}|[0-9]{2}/[0-9]{2}/[0-9]{4})$'
        origin_country:
          type: string
          description: 'Alloggiati Web country code; required unless inherited from a group leader.'
          example: '100000100'
        origin_city:
          type: string
          nullable: true
          description: 'Alloggiati Web city code; required for Italian origin unless inherited from a group leader.'
        identity_type:
          type: string
          nullable: true
        tax_exemption:
          type: integer
          enum:
            - 0
            - 1
          nullable: true
        tax_exemption_code:
          type: integer
          nullable: true
          description: 'Required when tax_exemption is 1.'
    LegacyDepartureUpdateRequest:
      type: object
      required:
        - arrival_date
        - departure_date
      properties:
        arrival_date:
          type: string
          format: date
        departure_date:
          type: string
          format: date
    LegacyCalendarUpsertRequest:
      type: object
      required:
        - date
        - status
        - rooms_occupied
      properties:
        date:
          type: string
          format: date
        status:
          type: integer
          enum:
            - 0
            - 1
          description: '0 for open, 1 for closed.'
        rooms_occupied:
          type: integer
          minimum: 0
    LegacyFlexibleDate:
      type: string
      description: 'Date in YYYY-MM-DD or DD/MM/YYYY format.'
      pattern: '^([0-9]{4}-[0-9]{2}-[0-9]{2}|[0-9]{2}/[0-9]{2}/[0-9]{4})$'
    LegacyGuest:
      type: object
      additionalProperties: true
      properties:
        id:
          type: integer
        type_id:
          type: integer
        parent_id:
          type: integer
          nullable: true
        license_id:
          type: integer
        external_id:
          type: string
        arrival_date:
          type: string
          format: date
        departure_date:
          type: string
          format: date
          nullable: true
        room_number:
          type: string
          nullable: true
    LegacyLicense:
      type: object
      additionalProperties: true
      properties:
        id:
          type: integer
        manager_id:
          type: integer
    LegacyCalendarDay:
      type: object
      additionalProperties: true
      properties:
        id:
          type: integer
        license_id:
          type: integer
        date:
          type: string
          format: date
        closed:
          type: integer
          enum:
            - 0
            - 1
          nullable: true
        rooms_occupied:
          type: integer
          nullable: true
    LegacySuccessEnvelope:
      type: object
      required:
        - content
        - message
        - status
      properties:
        content: {  }
        message:
          type: string
        status:
          type: string
          enum:
            - OK
    LegacyGuestResponse:
      allOf:
        -
          $ref: '#/components/schemas/LegacySuccessEnvelope'
        -
          type: object
          properties:
            content:
              $ref: '#/components/schemas/LegacyGuest'
    LegacyGuestWithLicenseResponse:
      allOf:
        -
          $ref: '#/components/schemas/LegacySuccessEnvelope'
        -
          type: object
          properties:
            content:
              type: object
              required:
                - guest
                - license
              properties:
                guest:
                  $ref: '#/components/schemas/LegacyGuest'
                license:
                  $ref: '#/components/schemas/LegacyLicense'
    LegacyCalendarResponse:
      allOf:
        -
          $ref: '#/components/schemas/LegacySuccessEnvelope'
        -
          type: object
          properties:
            content:
              $ref: '#/components/schemas/LegacyCalendarDay'
    LegacyErrorResponse:
      type: object
      required:
        - content
        - message
        - status
      properties:
        content:
          nullable: true
        message:
          type: string
        status:
          type: string
          enum:
            - ERROR
    AmenityListResponse:
      type: object
      required:
        - Items
      properties:
        Items:
          type: array
          items:
            $ref: '#/components/schemas/Amenity'
    Amenity:
      type: object
      required:
        - code
        - name
      properties:
        code:
          type: string
          example: WIFI
        name:
          type: string
          example: Internet-WI-FI
    AccommodationCategoryListResponse:
      type: object
      required:
        - Items
      properties:
        Items:
          type: array
          items:
            $ref: '#/components/schemas/AccommodationCategory'
    AccommodationCategory:
      type: object
      required:
        - id
        - name
        - description
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
    AccommodationCityListResponse:
      type: object
      required:
        - Items
      properties:
        Items:
          type: array
          items:
            $ref: '#/components/schemas/AccommodationCity'
    AccommodationCity:
      type: object
      required:
        - identifier
        - name
        - area
        - district
        - province
        - region
        - country
      properties:
        identifier:
          type: integer
        name:
          type: string
        area:
          type: string
        district:
          type: string
        province:
          type: string
        region:
          type: string
        country:
          type: string
    AccommodationListResponse:
      type: object
      required:
        - pagination
        - Items
      properties:
        pagination:
          $ref: '#/components/schemas/CataloguePagination'
        Items:
          type: array
          items:
            $ref: '#/components/schemas/PublishedAccommodation'
    CataloguePagination:
      type: object
      required:
        - page
        - item-per-page
        - results
        - total-pages
        - total-results
      properties:
        page:
          type: integer
        item-per-page:
          type: integer
        results:
          type: integer
        total-pages:
          type: integer
        total-results:
          type: integer
    PublishedAccommodation:
      type: object
      additionalProperties: true
      required:
        - identifier
        - uri
        - name
        - category
        - address
        - geo
      properties:
        identifier:
          type: integer
        cir:
          type: string
        cin:
          type: string
        uri:
          type: string
        name:
          type: string
        numberOfRooms:
          type: string
        numberOfApartments:
          type: string
        category:
          $ref: '#/components/schemas/AccommodationCategory'
        photo:
          type: string
          description: 'Main photo URL, or an empty string when no photo is available.'
        url:
          type: string
          nullable: true
        bookingUrl:
          type: string
          nullable: true
        telephone:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        petsAllowed:
          type: boolean
        smokingAllowed:
          type: boolean
        address:
          type: object
          additionalProperties: true
        geo:
          type: object
          properties:
            latitude:
              type: number
              nullable: true
            longitude:
              type: number
              nullable: true
        amenityFeature:
          type: array
          items:
            $ref: '#/components/schemas/Amenity'
    PublicCityTaxExemptions:
      type: object
      required:
        - comune
        - codice_istat
        - codice_ps
        - provincia
        - regione
        - esenzioni
      properties:
        comune:
          type: string
          example: Bormio
        codice_istat:
          type: string
          example: '014009'
        codice_ps:
          type: string
          nullable: true
        provincia:
          type: string
          description: 'Province name followed by its ISTAT code in parentheses.'
        regione:
          type: string
        esenzioni:
          type: array
          items:
            $ref: '#/components/schemas/PublicCityTaxExemption'
    PublicCityTaxExemption:
      type: object
      required:
        - codice
        - nome
        - descrizione
      properties:
        codice:
          type: string
          nullable: true
        nome:
          type: string
        descrizione:
          type: string
          nullable: true
security:
  -
    bearerAuth: []
paths:
  /api/v1/accommodations/accommodations:
    get:
      tags:
        - 'Accommodation catalogue'
      summary: 'List published accommodations'
      description: |
        Returns active, online accommodations with at least one open license.
      operationId: listPublishedAccommodations
      security: []
      parameters:
        -
          name: page_number
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        -
          name: items_per_page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 100
        -
          name: id
          in: query
          description: 'Filter by accommodation-info ID.'
          schema:
            type: integer
            minimum: 1
        -
          name: uri
          in: query
          description: 'Accepted for compatibility but currently ignored; use id to filter.'
          deprecated: true
          schema:
            type: string
        -
          name: city_id
          in: query
          schema:
            type: integer
            minimum: 1
        -
          name: category_id
          in: query
          schema:
            type: integer
            minimum: 1
        -
          name: amenity_code
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 'Paginated accommodations catalogue.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccommodationListResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/v1/accommodations/amenities:
    get:
      tags:
        - 'Accommodation catalogue'
      summary: 'List accommodation amenities'
      operationId: listAccommodationAmenities
      security: []
      responses:
        '200':
          description: 'Public amenities catalogue.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AmenityListResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/v1/accommodations/categories:
    get:
      tags:
        - 'Accommodation catalogue'
      summary: 'List accommodation categories'
      operationId: listAccommodationCategories
      security: []
      responses:
        '200':
          description: 'Public accommodation categories.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccommodationCategoryListResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /api/v1/accommodations/cities:
    get:
      tags:
        - 'Accommodation catalogue'
      summary: 'List accommodation cities'
      operationId: listAccommodationCities
      security: []
      responses:
        '200':
          description: 'Public cities catalogue.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccommodationCityListResponse'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  '/api/v1/city-tax/{cityCode}/exemptions':
    get:
      tags:
        - 'Tax exemptions'
      summary: 'List city-tax exemptions'
      description: 'Returns exemption codes configured for an Italian municipality.'
      operationId: listIntegrationTaxExemptions
      parameters:
        -
          $ref: '#/components/parameters/CityCode'
      responses:
        '200':
          description: 'Exemption codes ordered by code.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaxExemption'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  '/api/v1/citytax/esenzioni/{city_code}':
    get:
      tags:
        - 'Public tax exemptions'
      summary: 'List public city-tax exemptions'
      description: 'Public endpoint returning municipality metadata and exemption codes in Italian. It does not require an integration token.'
      operationId: listPublicCityTaxExemptions
      security: []
      parameters:
        -
          name: city_code
          in: path
          required: true
          description: 'ISTAT municipality code, preserving leading zeroes.'
          schema:
            type: string
          example: '014009'
      responses:
        '200':
          description: 'Municipality and exemptions ordered by code.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicCityTaxExemptions'
        '422':
          description: 'Municipality code is missing or unknown.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyErrorResponse'
  '/api/v1/citytax/esenzioni/{city_code}/html':
    get:
      tags:
        - 'Public tax exemptions'
      summary: 'View public city-tax exemptions as HTML'
      description: 'HTML representation of the public municipality exemption catalogue.'
      operationId: viewPublicCityTaxExemptionsHtml
      security: []
      parameters:
        -
          name: city_code
          in: path
          required: true
          description: 'ISTAT municipality code, preserving leading zeroes.'
          schema:
            type: string
          example: '014009'
      responses:
        '200':
          description: 'HTML page containing municipality details and exemptions.'
          content:
            text/html:
              schema:
                type: string
  '/api/v1/istat/calendar/{license}':
    post:
      tags:
        - 'ISTAT session calendar'
      summary: 'Create or update a calendar day'
      operationId: upsertIstatSessionCalendarDay
      security:
        -
          sessionCookie: []
          xsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LegacyCalendarUpsertRequest'
      responses:
        '200':
          description: 'Calendar day created or updated.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyCalendarResponse'
        '403':
          $ref: '#/components/responses/SessionForbidden'
        '419':
          $ref: '#/components/responses/CsrfTokenMismatch'
        '422':
          $ref: '#/components/responses/LegacyValidationError'
      parameters:
        -
          $ref: '#/components/parameters/LegacyLicenseId'
  '/api/v1/istat/calendar/{license}/{date}':
    get:
      tags:
        - 'ISTAT session calendar'
      summary: 'Get a calendar day'
      operationId: getIstatSessionCalendarDay
      security:
        -
          sessionCookie: []
      responses:
        '200':
          description: 'Calendar day found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyCalendarResponse'
        '403':
          $ref: '#/components/responses/SessionForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/LegacyValidationError'
      parameters:
        -
          $ref: '#/components/parameters/LegacyLicenseId'
        -
          $ref: '#/components/parameters/LegacyCalendarDate'
    delete:
      tags:
        - 'ISTAT session calendar'
      summary: 'Delete a calendar day'
      operationId: deleteIstatSessionCalendarDay
      security:
        -
          sessionCookie: []
          xsrfToken: []
      responses:
        '200':
          description: 'Calendar day deleted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyCalendarResponse'
        '403':
          $ref: '#/components/responses/SessionForbidden'
        '419':
          $ref: '#/components/responses/CsrfTokenMismatch'
        '422':
          $ref: '#/components/responses/LegacyValidationError'
      parameters:
        -
          $ref: '#/components/parameters/LegacyLicenseId'
        -
          $ref: '#/components/parameters/LegacyCalendarDate'
  '/api/v1/istat/guest/{license}':
    post:
      tags:
        - 'ISTAT session guests'
      summary: 'Create or update a guest'
      operationId: upsertIstatSessionGuest
      security:
        -
          sessionCookie: []
          xsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LegacyGuestUpsertRequest'
      responses:
        '200':
          description: 'Guest created or updated.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyGuestWithLicenseResponse'
        '403':
          $ref: '#/components/responses/SessionForbidden'
        '419':
          $ref: '#/components/responses/CsrfTokenMismatch'
        '422':
          $ref: '#/components/responses/LegacyValidationError'
      parameters:
        -
          $ref: '#/components/parameters/LegacyLicenseId'
  '/api/v1/istat/guest/{license}/{external_id}':
    post:
      tags:
        - 'ISTAT session guests'
      summary: 'Create or update a group member'
      description: |
        The path external_id identifies the group leader (parent_external_id
        in the Laravel route); the body external_id identifies the member.
        Only guest types 19 and 20 are accepted. Supply external_parent_id in
        the body as well, using the same leader ID and arrival date.
      operationId: upsertIstatSessionGroupMember
      security:
        -
          sessionCookie: []
          xsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LegacyGuestUpsertRequest'
      responses:
        '200':
          description: 'Group member created or updated.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyGuestResponse'
        '403':
          $ref: '#/components/responses/SessionForbidden'
        '419':
          $ref: '#/components/responses/CsrfTokenMismatch'
        '422':
          $ref: '#/components/responses/LegacyValidationError'
      parameters:
        -
          $ref: '#/components/parameters/LegacyLicenseId'
        -
          $ref: '#/components/parameters/LegacyExternalId'
    put:
      tags:
        - 'ISTAT session guests'
      summary: "Update a guest's departure date"
      description: 'The path external_id identifies the guest to update.'
      operationId: updateIstatSessionGuestDeparture
      security:
        -
          sessionCookie: []
          xsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LegacyDepartureUpdateRequest'
      responses:
        '200':
          description: 'Departure date updated.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyGuestResponse'
        '403':
          $ref: '#/components/responses/SessionForbidden'
        '419':
          $ref: '#/components/responses/CsrfTokenMismatch'
        '422':
          $ref: '#/components/responses/LegacyValidationError'
      parameters:
        -
          $ref: '#/components/parameters/LegacyLicenseId'
        -
          $ref: '#/components/parameters/LegacyExternalId'
  '/api/v1/istat/guest/{license}/{external_id}/{arrival_date}':
    get:
      tags:
        - 'ISTAT session guests'
      summary: 'Get a guest'
      operationId: getIstatSessionGuest
      security:
        -
          sessionCookie: []
      responses:
        '200':
          description: 'Guest found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyGuestResponse'
        '403':
          $ref: '#/components/responses/SessionForbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/LegacyValidationError'
      parameters:
        -
          $ref: '#/components/parameters/LegacyLicenseId'
        -
          $ref: '#/components/parameters/LegacyExternalId'
        -
          $ref: '#/components/parameters/LegacyArrivalDate'
    delete:
      tags:
        - 'ISTAT session guests'
      summary: 'Delete a guest'
      operationId: deleteIstatSessionGuest
      security:
        -
          sessionCookie: []
          xsrfToken: []
      responses:
        '200':
          description: 'Guest deleted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyGuestResponse'
        '403':
          $ref: '#/components/responses/SessionForbidden'
        '419':
          $ref: '#/components/responses/CsrfTokenMismatch'
        '422':
          $ref: '#/components/responses/LegacyValidationError'
      parameters:
        -
          $ref: '#/components/parameters/LegacyLicenseId'
        -
          $ref: '#/components/parameters/LegacyExternalId'
        -
          $ref: '#/components/parameters/LegacyArrivalDate'
  /api/v1/istat/login:
    post:
      tags:
        - 'ISTAT session authentication'
      summary: 'Log in to the ISTAT session API'
      description: |
        Creates the session used by the remaining ISTAT operations and returns
        the IDs of the licenses available to the authenticated user.
      operationId: loginIstatSession
      security:
        -
          sessionCookie: []
          xsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - password
              properties:
                username:
                  type: string
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: 'Login completed and session cookie issued.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IstatSessionLoginResponse'
        '403':
          description: 'Invalid credentials.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegacyErrorResponse'
        '419':
          $ref: '#/components/responses/CsrfTokenMismatch'
  /api/v1/licenses:
    get:
      tags:
        - Licenses
      summary: 'List accessible licenses'
      description: 'Returns the licenses explicitly granted to the authenticated integrator.'
      operationId: listIntegrationLicenses
      responses:
        '200':
          description: 'Accessible licenses. An empty array means no licenses are granted.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/License'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  '/api/v1/licenses/{licenseId}/calendar/{year}/{month}/days':
    get:
      tags:
        - 'Closure days'
      summary: 'List the days in a month'
      description: 'Returns every calendar day in the requested month with its computed status.'
      operationId: listIntegrationClosureDays
      parameters:
        -
          $ref: '#/components/parameters/LicenseId'
        -
          $ref: '#/components/parameters/Year'
        -
          $ref: '#/components/parameters/Month'
      responses:
        '200':
          description: 'One status entry per day in the month.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Day'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/LicenseNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  '/api/v1/licenses/{licenseId}/calendar/{year}/{month}/{day}/toggle':
    post:
      tags:
        - 'Closure days'
      summary: 'Toggle a day open or closed'
      description: |
        Reopens a closed day or closes an open day. A day cannot be closed when
        guests are present or when its status is INVALID.
      operationId: toggleIntegrationClosureDay
      parameters:
        -
          $ref: '#/components/parameters/LicenseId'
        -
          $ref: '#/components/parameters/Year'
        -
          $ref: '#/components/parameters/Month'
        -
          $ref: '#/components/parameters/DayOfMonth'
      responses:
        '200':
          description: 'Updated day status.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Day'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/LicenseNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  '/api/v1/licenses/{licenseId}/groups':
    post:
      tags:
        - 'Guest groups'
      summary: 'Create a guest group'
      description: |
        Creates a new stay. A group is identified by its leader's external ID
        and arrival date within the license.

        Valid compositions are: type 16 alone; type 17 with one or more type 19
        members; or type 18 with one or more type 20 members. A composite group
        can return HTTP 200 with mixed per-member results when at least one member
        is valid. Duplicate guest IDs within a group are rejected.
      operationId: createIntegrationGuestGroup
      parameters:
        -
          $ref: '#/components/parameters/LicenseId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestGroupRequest'
      responses:
        '200':
          description: 'Group processed; inspect each detail for partial member failures.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResult'
        '400':
          $ref: '#/components/responses/InvalidGroup'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/LicenseNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  '/api/v1/licenses/{licenseId}/groups/{leaderId}/{arrivalDate}':
    put:
      tags:
        - 'Guest groups'
      summary: 'Replace a guest group'
      description: |
        Atomically replaces an existing group. The leader's `id` and
        `arrivalDate` in the body must match the path. If any guest is invalid,
        the original group remains unchanged.
      operationId: replaceIntegrationGuestGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuestGroupRequest'
      responses:
        '200':
          description: 'Group replaced.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendResult'
        '400':
          $ref: '#/components/responses/InvalidGroup'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/LicenseNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      parameters:
        -
          $ref: '#/components/parameters/LicenseId'
        -
          $ref: '#/components/parameters/LeaderId'
        -
          $ref: '#/components/parameters/ArrivalDate'
    delete:
      tags:
        - 'Guest groups'
      summary: 'Delete a guest group'
      description: 'Deletes the matching leader and all its members.'
      operationId: deleteIntegrationGuestGroup
      responses:
        '200':
          description: 'Group deleted.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteGroupResponse'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/LicenseNotAccessible'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      parameters:
        -
          $ref: '#/components/parameters/LicenseId'
        -
          $ref: '#/components/parameters/LeaderId'
        -
          $ref: '#/components/parameters/ArrivalDate'
  /api/v1/token:
    post:
      tags:
        - Authentication
      summary: 'Issue an integration token'
      description: |
        Exchanges HTTP Basic credentials belonging to an active APPLICATION
        user for an opaque bearer token valid for 24 hours.
      operationId: issueIntegrationToken
      security:
        -
          basicAuth: []
      responses:
        '200':
          description: 'Token issued.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/InvalidCredentials'
        '429':
          $ref: '#/components/responses/TooManyRequests'
